<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>케이마켓 고객센터</title>
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="css/common.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <!--헤더푸터 연결-->
    <script>
        fetch("../main/header.html")
          .then(res => res.text())
          .then(data => {
            document.getElementById("header").innerHTML = data;

            // header.html 안의 스크립트 실행 강제
            const scripts = document.getElementById("header").querySelectorAll("script");
            scripts.forEach(oldScript => {
            const newScript = document.createElement("script");
            if (oldScript.src) {
                newScript.src = oldScript.src;
            } else {
                newScript.textContent = oldScript.textContent;
            }
            document.body.appendChild(newScript);
            });
          });

       
        fetch("../main/footer.html")
          .then(res => res.text())
          .then(data => {
            document.getElementById("footer").innerHTML = data;
          });
    </script>
    <div id="header"></div>

    <div id="content" class="cs_main_wrap">

        <h1>⊙ASK NICHIYA⊙</h1>

        <div class="cs_section notice_section">
            <h2 class="section_title">
                NOTICE
                <a href="notice/notice_list.html" class="more_link">All</a>
            </h2>
            <div class="section_list">
                <ul>
                    <li><a href="notice/notice_view.html"><span>[안내]</span> 해외결제사 정기점검주의</a><span class="date">22.10.31</span></li>
                    <li><a href="notice/notice_view.html"><span>[안내]</span> 해외결제사 정기점검주의</a><span class="date">22.10.31</span></li>
                    <li><a href="notice/notice_view.html"><span>[안내]</span> 해외결제사 정기점검주의</a><span class="date">22.10.31</span></li>
                    <li><a href="notice/notice_view.html"><span>[안내]</span> 해외결제사 정기점검주의</a><span class="date">22.10.31</span></li>
                    <li><a href="notice/notice_view.html"><span>[안내]</span> 해외결제사 정기점검주의</a><span class="date">22.10.31</span></li>
                </ul>
            </div>
        </div>
        

        <div class="cs_section faq_section">
            <h2 class="section_title">
                FAQ
                <a href="faq/faq_list.html" class="more_link">All</a>
            </h2>
            <div class="faq_category">
                <a href="faq/faq_view.html?category=회원">
                    <img src="images/user.png" alt="회원 아이콘">
                    <span>회원</span>
                </a>
                <a href="faq/faq_view.html?category=쿠폰/이벤트">
                    <img src="images/event.png" alt="쿠폰/이벤트 아이콘">
                    <span>쿠폰<br>이벤트</span>
                </a>
                <a href="faq/faq_view.html?category=주문/결제">
                    <img src="images/order.png" alt="주문/결제 아이콘">
                    <span>주문<br>결제</span>
                </a>
                <a href="faq/faq_view.html?category=배송">
                    <img src="images/delivery.png" alt="배송 아이콘">
                    <span>배송</span>
                </a>
                <a href="faq/faq_view.html?category=취소/반품/교환">
                    <img src="images/exchange.png" alt="취소/반품/교환 아이콘">
                    <span>취소<br>반품/교환</span>
                </a>
                <a href="faq/faq_view.html?category=안전거래">
                    <img src="images/lock.png" alt="안전거래 아이콘">
                    <span>안전거래</span>
                </a>
            </div>
        </div>

        <div class="cs_section qna_section">
            <h2 class="section_title">
                ASK NICHIYA
                <a href="qna/qna_list.html" class="more_link">All</a>
            </h2>
            <div class="section_list">
                <ul>
                    <li><div style="display: flex;"><div style=""><a href="qna/qna_view.html">[회원] 개인회원과 법인회원차이가있나요?</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;">22.10.31</div></div><div class="writer">chh**</div></li>
                    <li><div style="display: flex;"><div style=""><a href="qna/qna_view.html">[쿠폰/이벤트] 스마일 포인트는 어디에 사용하나요?</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;">22.10.31</div></div><div class="writer">chh**</div></li>
                    <li><div style="display: flex;"><div style=""><a href="qna/qna_view.html">[주문/결제] 신용카드결제 중 오류가 난 경우 어떻게 하나요?</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;">22.10.31</div></div><div class="writer">chh**</div></li>
                    <li><div style="display: flex;"><div style=""><a href="qna/qna_view.html">[취소/반품/교환] 주문을 취소하고 싶어요.</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;">22.10.31</div></div><div class="writer">chh**</div></li>
                    <li><div style="display: flex;"><div style=""><a href="qna/qna_view.html">[배송] 배송은 언제 완료되나요?</a></div><div class="date" style="margin-top:auto;margin-left:10px !important;">22.10.31</div></div><div class="writer">chh**</div></li>
                </ul>
            </div>
            <div class="btn_area">
                <a href="qna/qna_write.html" class="btn_write">write</a>
            </div>
        </div>
        <div class="cs_section qna_section">
            <h2 class="section_title">
                1:1 COUNSEL
            </h2>
            <div style="display: flex; gap: 40px; text-align: left; margin-top:50px;">
                <div style="margin-left:120px;border:1px solid #e2e2e2;width:310px; padding-left:15px; padding-top:15px; height:210px;">
                    <div style="font-weight: 800; font-size: 15px;">이용안내</div>
                    <div style="margin-top:13px;">일반회원 / 비회원</div>
                    <div style=""><span style="font-weight: 800; font-size: 20px;">1566 - 0001</span><span> ( 평일 09:00 ~ 18:00 )</span></div>
                    <div style="margin-top:13px;">스마일 클럽 전용</div>
                    <div><span style="font-weight: 800; font-size: 20px;">1566 - 0002</span><span> ( 365일 09:00 ~ 18:00 )</span></div>
                </div>
                <div style="margin-right:120px;border:1px solid #e2e2e2;width:310px;padding-left:15px; padding-top:15px;">
                    <div style="font-weight: 800; font-size: 15px;">판매 상담 이용안내</div>
                    <div style="margin-top:13px;">판매고객</div>
                    <div><span style="font-weight: 800; font-size: 20px;">1566 - 5700</span><span> ( 평일 09:00 ~ 18:00 )</span></div>
                    <div style="margin-top:38px;"><a href="#" style="font-weight: 800; font-size: 17px; letter-spacing: -1px;">판매자 가입 및 서류 접수 안내 ></a></div>
                </div>
            </div>
            
        </div>

    </div>
    <div id="footer" style="margin-top:50px;"></div>
    </body>
</html>